.DS_Store
bin/
CVS/
.pmd
*~
*.swp
*.aps
*.ncb
*.suo
*.user
*.sass-cache

# tycho/maven
target/
.polyglot.build.properties
workspace/

# rubles/bundles
bundles/com.aptana.ruby.core/bundles/*.ruble
bundles/com.aptana.ruby.core/bundle_timestamps.txt
