<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="rubynature"
         name="%nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.aptana.ruby.core.RubyProjectNature">
         </run>
      </runtime>
      <content-type
            id="com.aptana.contenttype.ruby">
      </content-type>
      <content-type
            id="com.aptana.contenttype.ruby.ambiguous">
      </content-type>
      <content-type
            id="com.aptana.contenttype.sass">
      </content-type>
      <content-type
            id="com.aptana.contenttype.yml">
      </content-type>
      <content-type
            id="com.aptana.contenttype.haml">
      </content-type>
      <content-type
            id="com.aptana.contenttype.yml">
      </content-type>
      <content-type
            id="com.aptana.contenttype.html.erb">
      </content-type>
      <content-type
            id="com.aptana.contenttype.xml.erb">
      </content-type>
      <content-type
            id="com.aptana.contenttype.beaver">
      </content-type>
      <content-type
            id="com.aptana.contenttype.coffeescript">
      </content-type>
      <content-type
            id="com.aptana.contenttype.css">
      </content-type>
      <content-type
            id="com.aptana.contenttype.diff">
      </content-type>
      <content-type
            id="com.aptana.contenttype.dtd">
      </content-type>
      <content-type
            id="com.aptana.contenttype.html">
      </content-type>
      <content-type
            id="com.aptana.contenttype.idl">
      </content-type>
      <content-type
            id="com.aptana.contenttype.js">
      </content-type>
      <content-type
            id="com.aptana.contenttype.jsca">
      </content-type>
      <content-type
            id="com.aptana.contenttype.jss">
      </content-type>
      <content-type
            id="com.aptana.contenttype.markdown">
      </content-type>
      <content-type
            id="com.aptana.contenttype.sdocml">
      </content-type>
      <content-type
            id="com.aptana.contenttype.svg">
      </content-type>
      <content-type
            id="com.aptana.contenttype.xsl">
      </content-type>
      <content-type
            id="com.aptana.editor.text.content-type.generic">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="rb,rake,cgi,fcgi,rbx,rjs,gemspec,irbrc,ru"
            file-names="Rakefile,Capfile,Gemfile"
            id="com.aptana.contenttype.ruby"
            name="%content-type.rb.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="com.aptana.contenttype.ruby"
            default-charset="UTF-8"
            describer="com.aptana.ruby.internal.core.RubyTextContentDescriber"
            file-names="plugin,server,runner,generate,dbconsole,about,console,destroy,autospec,spec,rails"
            id="com.aptana.contenttype.ruby.ambiguous"
            name="%content-type.ruby.ambiguous.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         id="problem"
         name="%marker.ruby.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="id">
      </attribute>
      <attribute
            name="flags">
      </attribute>
      <attribute
            name="arguments">
      </attribute>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.ruby.core.RubyParser"
            content-type="com.aptana.contenttype.ruby">
      </parser>
   </extension>
      <extension
         point="com.aptana.index.core.fileIndexingParticipants">
      <fileIndexingParticipant
            class="com.aptana.ruby.internal.core.index.RubyFileIndexingParticipant"
            id="com.aptana.editor.ruby.indexer"
            name="Ruby Indexer"
            priority="50">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.ruby">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.ruby.ambiguous">
         </contentTypeBinding>
      </fileIndexingParticipant>
   </extension>
      <extension
            point="com.aptana.buildpath.core.buildParticipants">
         <participant
               class="com.aptana.ruby.internal.core.build.RubyTaskDetector"
               priority="50">
            <contentTypeBinding
                  contentTypeId="com.aptana.contenttype.ruby">
            </contentTypeBinding>
            <contentTypeBinding
                  contentTypeId="com.aptana.contenttype.ruby.ambiguous">
            </contentTypeBinding>
         </participant>
      </extension>
</plugin>
