<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="rubynature"
         name="%nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.aptana.ruby.core.RubyProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="rb,rake,cgi,fcgi,rbx,rjs,gemspec,irbrc,ru"
            file-names="Rakefile,Capfile,Gemfile"
            id="com.aptana.contenttype.ruby"
            name="%content-type.rb.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="com.aptana.contenttype.ruby"
            describer="com.aptana.ruby.internal.core.RubyTextContentDescriber"
            file-names="plugin,server,runner,generate,dbconsole,about,console,destroy,autospec,spec,rails"
            id="com.aptana.contenttype.ruby.ambiguous"
            name="%content-type.ruby.ambiguous.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         id="problem"
         name="%marker.ruby.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="id">
      </attribute>
      <attribute
            name="flags">
      </attribute>
      <attribute
            name="arguments">
      </attribute>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.ruby.core.RubyParser"
            content-type="com.aptana.contenttype.ruby">
      </parser>
   </extension>
      <extension
         point="com.aptana.index.core.fileIndexingParticipants">
      <fileIndexingParticipant
            class="com.aptana.ruby.internal.core.index.RubyFileIndexingParticipant">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.ruby">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.ruby.ambiguous">
         </contentTypeBinding>
      </fileIndexingParticipant>
   </extension>
</plugin>
