<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.ruby.RubySourceEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="rb,rake,cgi,fcgi,rbx,rjs,gemspec,irbrc,ru"
            icon="icons/rb.png"
            id="com.aptana.editor.ruby"
            name="%editor.rb.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.ruby">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.aptana.ruby.blockPair.occurrences"
            colorPreferenceKey="rubyBlockPairOccurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            contributesToHeader="false"
            highlightPreferenceKey="rubyBlockPairOccurrenceIndicationHighlighting"
            highlightPreferenceValue="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            label="%blockPairOccurrence.label"
            overviewRulerPreferenceKey="rubyBlockPairOccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            textPreferenceKey="rubyBlockPairOccurrenceIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="rubyBlockPairOccurrenceIndicationTextStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="rubyBlockPairOccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            name="com.aptana.ruby.blockPair.occurrences"
            super="com.aptana.editor.common.occurrence">
      </type>
   </extension>
   <extension
         point="com.aptana.editor.common.validator">
      <content-type
            name="%validator.language.ruby.name"
            id="com.aptana.contenttype.ruby">
      </content-type>
      <validator
            class="com.aptana.editor.ruby.validator.RubyValidator"
            content-type="com.aptana.contenttype.ruby"
            marker-type="com.aptana.ruby.core.problem"
            name="%validator.ruby.name">
      </validator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.editor.common.preferences.EditorsPreferencePage"
            class="com.aptana.editor.ruby.preferences.RubyPreferencePage"
            id="com.aptana.editor.ruby.preferences.RubyPreferencePage"
            name="%page.ruby.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.ruby.preferences.RubyPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="com.aptana.ruby.ui.rubyCode"
            name="%RubyEditorHyperlinkTarget">
            <context type="org.eclipse.ui.texteditor.ITextEditor"/>
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="com.aptana.editor.ruby.hyperlink.RubyHyperlinkDetector"
            id="com.aptana.editor.ruby.hyperlinkDetector"
            name="%ruby.hyperlinkDetector.name"
            targetId="com.aptana.ruby.ui.rubyCode">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.views.ContentOutline">
         <command
               commandId="com.aptana.editor.ruby.outline.toggle_private"
               label="%HideNonPublic.label"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.aptana.editor.ruby.isRubyEditor">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.aptana.editor.ruby.outline.toggle_fields"
               label="%HideFields.label"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.aptana.editor.ruby.isRubyEditor">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.aptana.editor.ruby.outline.toggle_singleton"
               label="%HideSingletons.label"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.aptana.editor.ruby.isRubyEditor">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.editor.ruby.outline.ToggleNonPublicMembersHandler"
            id="com.aptana.editor.ruby.outline.toggle_private"
            name="%ToggleNonPublic.name">
      </command>
      <command
            defaultHandler="com.aptana.editor.ruby.outline.ToggleHideFieldsHandler"
            id="com.aptana.editor.ruby.outline.toggle_fields"
            name="%ToggleFields.name">
      </command>
      <command
            defaultHandler="com.aptana.editor.ruby.outline.ToggleHideSingletonsHandler"
            id="com.aptana.editor.ruby.outline.toggle_singleton"
            name="%ToggleSingletons.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.editor.ruby.outline.toggle_private"
            disabledIcon="icons/full/dlcl16/public_co.png"
            icon="icons/full/elcl16/public_co.png">
      </image>
      <image
            commandId="com.aptana.editor.ruby.outline.toggle_fields"
            disabledIcon="icons/full/dlcl16/fields_co.png"
            icon="icons/full/elcl16/fields_co.png">
      </image>
      <image
            commandId="com.aptana.editor.ruby.outline.toggle_singleton"
            disabledIcon="icons/full/dlcl16/static_co.png"
            icon="icons/full/elcl16/static_co.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.aptana.editor.ruby.isRubyEditor">
            <with
                     variable="activeEditorId">
                  <equals
                        value="com.aptana.editor.ruby">
                  </equals>
               </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.ruby.contentMergeViewer"
            contentTypeId="com.aptana.contenttype.ruby">
      </contentTypeBinding>
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.ruby.contentMergeViewer"
            contentTypeId="com.aptana.contenttype.ruby.ambiguous">
      </contentTypeBinding>
      <viewer
            class="com.aptana.editor.ruby.internal.RubyMergeViewerCreator"
            extensions="rb,rake,cgi,fcgi,rbx,rjs,gemspec,irbrc,ru"
            id="com.aptana.editor.ruby.contentMergeViewer">
      </viewer>
   </extension>

</plugin>
