<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.haml.HAMLEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="haml"
            icon="icons/haml.png"
            id="com.aptana.editor.haml"
            name="%editor.haml.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.haml">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="haml"
            id="com.aptana.contenttype.haml"
            name="%content-type.haml.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.editor.common.preferences.EditorsPreferencePage"
            class="com.aptana.editor.haml.preferences.HAMLPreferencePage"
            id="com.aptana.editor.haml.preferences.HamlPreferencePage"
            name="%page.haml.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.haml.preferences.HAMLPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.aptana.ruby.debug.ui.RulerPopupActions"
            targetID="com.aptana.editor.haml.RulerContext">
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="com.aptana.ruby.debug.ui.actions.ToggleBreakpointAction"
               label="%AddBreakpoint.label"
               menubarPath="debug">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.editor.haml.HAMLEditor"
            class="com.aptana.editor.haml.HAMLBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.aptana.ruby.debug.HAMLEditor.BreakpointRulerActions"
            targetID="com.aptana.editor.haml">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="com.aptana.ruby.debug.ui.doubleClickBreakpointAction"
               label="%action.notused.label"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.haml.contentMergeViewer"
            contentTypeId="com.aptana.contenttype.haml">
      </contentTypeBinding>
      <viewer
            class="com.aptana.editor.haml.merge.HAMLMergeViewerCreator"
            extensions="haml"
            id="com.aptana.editor.haml.contentMergeViewer">
      </viewer>
   </extension>

</plugin>
