<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?endof=additions">
            <!-- FIXME Filter to ruby projects containing a Rakefile! -->
         <menu
               icon="icons/rake.png"
               id="com.aptana.ruby.core.rake"
               label="%rakeMenuLabel"
               tooltip="Rake">
            <dynamic
                  class="com.aptana.ruby.internal.rake.actions.RakeTasksContributionItem"
                  id="com.aptana.ruby.core.rake.tasks">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
				<or>
		            <with
		                  variable="activeMenuSelection">
		               <iterate
		                     ifEmpty="false">
		                  <adapt
		                        type="org.eclipse.core.resources.IResource">
                       <and>
                          <test
                                property="org.eclipse.core.resources.projectNature"
                                value="com.aptana.ruby.core.rubynature">
                          </test>
                          <test
                                property="com.aptana.ruby.rake.hasRakefile"
                                value="true">
                          </test>
                       </and>
		                  </adapt>
		               </iterate>
		            </with>
		            <with
		                  variable="activeMenuEditorInput">
		               <iterate
		                     ifEmpty="false">
		                  <adapt
		                        type="org.eclipse.core.resources.IResource">
		                     <and>
                          <test
                                property="org.eclipse.core.resources.projectNature"
                                value="com.aptana.ruby.core.rubynature">
                          </test>
                          <test
                                property="com.aptana.ruby.rake.hasRakefile"
                                value="true">
                          </test>
                       </and>
		                  </adapt>
		               </iterate>
		            </with>
		            <with
		                  variable="selection">
		               <iterate
		                     ifEmpty="false">
		                  <adapt
		                        type="org.eclipse.core.resources.IResource">
		                     <and>
                          <test
                                property="org.eclipse.core.resources.projectNature"
                                value="com.aptana.ruby.core.rubynature">
                          </test>
                          <test
                                property="com.aptana.ruby.rake.hasRakefile"
                                value="true">
                          </test>
                       </and>
		                  </adapt>
		               </iterate>
		            </with>
		         </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.ruby.internal.rake.RakePropertyTester"
            id="com.aptana.ruby.rake.propertyTester"
            namespace="com.aptana.ruby.rake"
            properties="hasRakefile"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
</plugin>
